root = true

[*]
end_of_line = lf
insert_final_newline = false
indent_style = space
indent_size = tab
indent_brace_style = K&R
tab_width = 4
charset = utf-8
trim_trailing_whitespace = false
max_line_length = 10000
quote_type = single
curly_bracket_next_line = false
spaces_around_operators = true
spaces_around_brackets = outside

[*.php]
insert_final_newline = true
trim_trailing_whitespace = true
