parameters:
    level: 4
    paths:
        - src
        - tests
    excludePaths:
        # Exclude these files that are OK
        - src/Spout/Reader/Common/Creator/ReaderEntityFactory.php
        - src/Spout/Writer/Common/Creator/WriterEntityFactory.php
