<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/8.5/phpunit.xsd"
        bootstrap="tests/bootstrap.php"
        colors="true"
        convertErrorsToExceptions="false"
        convertWarningsToExceptions="false"
        defaultTestSuite="unit-tests"
        verbose="false">

    <php>
        <ini name="error_reporting" value="-1" />
    </php>

    <testsuites>

        <testsuite name="unit-tests">
            <directory>tests/</directory>
        </testsuite>

    </testsuites>

    <groups>
        <exclude>
            <group>perf-tests</group>
        </exclude>
    </groups>

    <filter>
        <whitelist>
            <directory suffix=".php">src/</directory>
            <exclude>
                <directory>src/Spout/Autoloader</directory>
            </exclude>
        </whitelist>
    </filter>

</phpunit>
